@model VehilceDatacs

<div class="container mt-3">
    <h2>Stacked form</h2>
    <form asp-controller="VehicleInfo"
    asp-action="Index" 
    method="post">
        <div class="mb-3 mt-3">
            <label for="text">PlatNumber:</label>
            <input type="text" class="form-control"
            id="plateNumber" 
            placeholder="Enter Plate Number" 
            asp-for="PlateNumber"/>
        </div>

        <div class="mb-3 mt-3">
            <label for="text">Make:</label>
            <input type="text" class="form-control"
                   id="make"
                   placeholder="Enter Make"
                   asp-for="Make" />
        </div>

        <div class="mb-3 mt-3">
            <label for="text">Model:</label>
            <input type="text" class="form-control"
                   id="model"
                   placeholder="Enter Model"
                   asp-for="Model" />
        </div>

        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input"
                type="checkbox"
                name="IsActive" asp-for="IsActive">
                Is Active
            </label>
        </div>

        <div class="form-check">
            <input type="radio" asp-for="Type" class="form-check-input" id="radio1" 
            value="Petrol" >
            <label class="form-check-label" >Petrol</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="Type" class="form-check-input" id="radio2"
                   value="Des">
            <label class="form-check-label">Des</label>
        </div>

        <div class="form-check">
            <input type="radio" asp-for="Type" class="form-check-input" id="radio3"
                   value="EV">
            <label class="form-check-label">EV</label>
        </div>
        
        <label for="sel2" class="form-label">
            Year</label>
        <select  class="form-select" 
                asp-for="PassingYear" asp-items="Model.Items">
         
        </select>


       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
